<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Profil</title>
    <!-- Inclure ici vos fichiers CSS si nécessaire -->
</head>
<body>
    <header>
        <h1>Profil de {{profil.last_name}} {{profil.first_name}}</h1>
    </header>

    <section>
        <h2>Informations personnelles</h2>
        <p>Nom: {{profil.last_name}}</p>
        <p>Prénom: {{profil.first_name}}</p>
    </section>

    <button></button>

    <section>
        <h2>Quizz Répondus</h2>
        <!-- Insérez ici la liste des quizz répondus par l'utilisateur -->
        <ul>
            <li>Quizz 1</li>
            <li>Quizz 2</li>
            <!-- Ajoutez d'autres éléments de liste au besoin -->
        </ul>
    </section>

    <section>
        <h2>Actions</h2>
        <button id="supprimer">Supprimer le compte</button>
    </section>

    <!-- Inclure ici vos fichiers JavaScript si nécessaire -->

</body>

